

  <!-- <div class="container mx-auto">
    <h1 class="text-black-50">TO-DO-LIST APP</h1>
  
    <div class="container mt-5">
      <div class="row">
        @if (tasks.length === 0) {
          <p class="text-primary">La lista de tareas esta vacia</p>
        } @else {
          @for (task of tasks; track $index) {
            <app-card clas [id]="$index" [title]="task.title" [description]="task.description" (updateEvent)="updateTask($event)" (doClick)="removeTask($event)" (handleDoneEvent)="updateDone($event)"></app-card>
          }
        }
      </div>
    </div>
  </div> -->


  <div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="text-center mb-4">TO-DO-LIST APP</h2>
            <form [formGroup]="form" (ngSubmit)="saveTask()">
              <div class="mb-3">
                <label for="title" class="form-label">Titulo</label>
                <input type="text" class="form-control" formControlName="title" placeholder="Titulo de la tarea">
                @if (titleTask.errors && (titleTask.touched || titleTask.dirty)) {
                  <div class="row">
                    @if(titleTask.errors["required"]) {
                      <p class="text-danger">El dato de requerido</p>
                    }
            
                    @if (titleTask.errors["minlength"]) {
                      <p class="text-danger">El tamaño minimo es 3</p>
                    }
                  </div>
                }
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" rows="3" placeholder="Ingresa una descripcion" formControlName="description"></textarea>
                @if(description.errors && (description.touched || description.dirty)) {
                  @if(description.errors["required"]) {
                    <p class="text-danger">El dato es requerido</p>
                  }
            
                  @if(description.errors["minlength"]) {
                    <p class="text-danger">El tamaño minimo es 5</p>
                  }
                }
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container">
        <h2 class="text-center mb-4">Mis Tareas</h2>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="row row-cols-1 row-cols-md-2 g-4">
    
              @if (tasks.length === 0) {
                <p class="text-primary">La lista de tareas esta vacia</p>
              } @else {
                @for (task of tasks; track $index) {
                  <app-card clas [id]="$index" [title]="task.title" [description]="task.description" (updateEvent)="updateTask($event)" (doClick)="removeTask($event)" (handleDoneEvent)="updateDone($event)"></app-card>
                }
              }
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  


  
